<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="false" scan="true" scanPeriod="1 seconds">
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80}.%method:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
<!--            <fileNamePattern>/var/log/webapps/gs-company-web/company_b_web_%d{yyyyMMdd}.log.%i</fileNamePattern>-->
<!--            &lt;!&ndash;日志文件保留天数:0永久保留&ndash;&gt;-->
<!--            <maxHistory>0</maxHistory>-->
<!--            &lt;!&ndash;日志文件最大的大小&ndash;&gt;-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>10MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符&ndash;&gt;-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:4560</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" index="'loges-'yyyyMMdd">
            <customFields>{"appname":"index-center"}</customFields>
        </encoder>
    </appender>

    <!-- <appender name="api-async" class="ch.qos.logback.classic.AsyncAppender">
         <appender-ref ref="logstash"/>
         <queueSize>8192</queueSize>
         <discardingThreshold>0</discardingThreshold>
     </appender>-->

    <!-- 指定监控那个日志类-->
    <!--  <logger name="cn.com.pg.sso.monitor.MonitorInterceptor" level="INFO">
          <appender-ref ref="api-async"/>
      </logger>
  -->

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="java.sql" level="DEBUG"/>
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="com.ibatis" level="DEBUG"/>
    <logger name="com.coates.oauth" level="DEBUG"/>
    <logger name="com.alibaba" level="DEBUG"/>
    <logger name="org.mybatis.spring" level="INFO"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="ERROR"/>
    <logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" level="ERROR"/>
    <logger name="org.springframework.web.context.support.StandardServletEnvironment" level="ERROR"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="ERROR"/>
    <logger name="org.springframework.web.cors.DefaultCorsProcessor" level="ERROR"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="java.sql" level="DEBUG"/>
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="com.ibatis" level="DEBUG"/>
    <logger name="com.gs.module" level="DEBUG"/>
    <logger name="com.alibaba" level="DEBUG"/>
    <logger name="org.mybatis.spring" level="INFO"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="ERROR"/>
    <logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" level="ERROR"/>
    <logger name="org.springframework.web.context.support.StandardServletEnvironment" level="ERROR"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="ERROR"/>
    <logger name="org.springframework.security" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>